
@import "tailwindcss";

body{
  margin: 0;
  padding: 0;
  
  background-color: var(--bg-main);
  

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 
  font-style: normal;


}

:root{
  --bg-main:rgba(242, 247, 250, 1);

  --text-main:rgba(33, 29, 47, 1);
  --text-second:rgba(92, 94, 100, 1);
  --icon-color:rgba(82, 97, 107, 1);
  --btn-hover:rgba(34, 24, 51, 1);
  --text-hover:rgba(255, 255, 255, 1);
  --bg-btn:rgba(255, 255, 255, 1);
  --text-third:rgba(156, 163, 175, 1);
  --bg-box:white


  


}

.sidebar{
  background-color:rgba(255, 255, 255, 1) ;
  
   

 
}

.card-box{
 
   background: radial-gradient(
      at top left,
      #ffffff 30%,
      transparent 60%
    ),
    linear-gradient(
      135deg,
      #eef5ff,
      #e6e9ff,
      #f0ddff
    );
 
}